body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form,
div {
  background-color: #f4f7f8;
  margin: 0 auto;
  width: 100%;
}

form {
  border-top: solid 1px black;
  padding-bottom: 20px;
}

header div {
  background-color: #9a8;
  color: #fff;
  height: 50px;
  line-height: 50px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.5em;
}

h2 {
  margin: 0 auto;
  padding: 10px 0;
}

.legend {
  padding: 15px;
  padding-left: 0;
  width: 100%;
}

.border {
    border-bottom: solid 1px black;
}

header,
div,
footer {
  text-align: center;
}

p {
  margin: 0 auto;
  color: #a4a7a8;
  padding: 10px;
}

.get-news {
  border-bottom: solid 5px black;
  margin-bottom: 15px;
}

fieldset {
  border: none;
}

legend {
  padding: 0 10px 0;
  border-top: 5px black;
  font-size: 1.5em;
  margin-left: 0;
}

label {
  padding-top: 8px;
}

input:focus {
  background-color: lightyellow;
}



.border-input,
.border-zip {
  text-align: left;
  max-width: 90%;
}



.radio,
.check {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 8px;
}

#state {
  height: auto;
}

.input,
select {
  display: block;
  padding: 5px;
  border-radius: 5px;
  box-shadow: -3px 0 0 -3px;
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
}

#topics {
  margin-top: 10px;
  height: 50px;
}

#text-label {
  margin-top: 15px;
}

.button {
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 75%;
  background-color: #9a8;
  border-radius: 10px;
  height: 50px;
  font-size: 1.5em;
  padding: 10px;
}




/*MEDIA QUERIES*/

@media (min-width: 760px) {
  body {
    margin: 0;
    width: 100%;
  }

  .label1 {
    width: 13%;
  }

  .border-input,
  .border-zip,
  .border-select,
  .label1 {
    display: inline-block;
  }

  .border-input {
    width: 50%
  }

  .border-zip {
    width: 20%;
  }

  .border-select {
    width: 30%;
  }

  .button {
    width: 25%;
  }

  textarea {
    max-width: 90%;
  }
}
